<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>荣誉与奖项 - AI 智创学会</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">

</head>

<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">AI 智创学会</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">主页</a></li>
                    <li class="nav-item"><a class="nav-link" href="people.html">关于我们</a></li>
                    <li class="nav-item"><a class="nav-link" href="resources.html">相关文件</a></li>
                    <li class="nav-item"><a class="nav-link" href="events.html">活动与赛事</a></li>
                    <li class="nav-item"><a class="nav-link active" href="awards.html">荣誉与奖项</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 主体内容 -->
    <div class="container mt-5 pt-5">
        <h2 class="text-center mb-4">荣誉与奖项</h2>
        <p>以下是 AI 智创学会在各类竞赛和活动中获得的荣誉：</p>

        <hr class="my-5">

        <h3 class="text-center mb-4">编程类国奖</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/award1.png" class="img-fluid award-image" alt="ICPC南京站银奖">
                <p class="text-center mt-2">
                    <strong>2022 第47届 ICPC 南京站</strong> <br> 
                    奖项：银奖 <br> 
                    获奖者：黄威、孙浩邦、潘前俊 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award2.png" class="img-fluid award-image" alt="CCPC重庆站铜奖">
                <p class="text-center mt-2">
                    <strong>2022 第8届 CCPC 重庆站</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：胡晨瑜、袁嘉、孙梦思 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award3.png" class="img-fluid award-image" alt="百度之星铜奖">
                <p class="text-center mt-2">
                    <strong>2023 第19届 百度之星大赛</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：江锦文 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award4.png" class="img-fluid award-image" alt="CCPC重庆站银奖">
                <p class="text-center mt-2">
                    <strong>2023 第9届 CCPC 重庆站</strong> <br> 
                    奖项：银奖 <br> 
                    获奖者：胡晨瑜、袁嘉、孙梦思 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award5.png" class="img-fluid award-image" alt="天梯赛个人铜奖">
                <p class="text-center mt-2">
                    <strong>2023 天梯赛 国赛</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：黄文豪 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award6.png" class="img-fluid award-image" alt="天梯赛个人铜奖">
                <p class="text-center mt-2">
                    <strong>2023 天梯赛 国赛</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：魏道 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award7.png" class="img-fluid award-image" alt="天梯赛个人铜奖">
                <p class="text-center mt-2">
                    <strong>2023 天梯赛 国赛</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：江锦文 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award8.png" class="img-fluid award-image" alt="蓝桥杯个人铜奖">
                <p class="text-center mt-2">
                    <strong>2023 蓝桥杯 国赛</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：许晨龙 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award9.png" class="img-fluid award-image" alt="蓝桥杯个人银奖">
                <p class="text-center mt-2">
                    <strong>2023 蓝桥杯 国赛</strong> <br> 
                    奖项：银奖 <br> 
                    获奖者：何洋 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award10.png" class="img-fluid award-image" alt="蓝桥杯个人银奖">
                <p class="text-center mt-2">
                    <strong>2023 蓝桥杯 国赛</strong> <br> 
                    奖项：银奖 <br> 
                    获奖者：江锦文 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award11.png" class="img-fluid award-image" alt="蓝桥杯个人银奖">
                <p class="text-center mt-2">
                    <strong>2023 蓝桥杯 国赛</strong> <br> 
                    奖项：银奖 <br> 
                    获奖者：章圣央 <br>
                    指导老师：朱旭东
                </p>
            </div>
        </div>

        <hr class="my-5">

        <h3 class="text-center mb-4">编程类省奖</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/award12.png" class="img-fluid award-image" alt="百度之星浙江赛区铜奖">
                <p class="text-center mt-2">
                    <strong>2022 百度之星 浙江赛区</strong> <br> 
                    奖项：银奖 <br> 
                    获奖者：魏道 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award13.png" class="img-fluid award-image" alt="百度之星浙江赛区银奖">
                <p class="text-center mt-2">
                    <strong>2022 百度之星 浙江赛区</strong> <br> 
                    奖项：银奖 <br> 
                    获奖者：江锦文 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award14.png" class="img-fluid award-image" alt="图森未来杯铜奖">
                <p class="text-center mt-2">
                    <strong>2022 图森未来杯 浙江省赛</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：黄威、孙浩邦、潘前俊 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award15.png" class="img-fluid award-image" alt="图森未来杯铜奖">
                <p class="text-center mt-2">
                    <strong>2022 图森未来杯 浙江省赛</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：黄文豪、王晨杰、魏道 <br>
                    指导老师：周静静
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award16.png" class="img-fluid award-image" alt="图森未来杯银奖">
                <p class="text-center mt-2">
                    <strong>2023 图森未来杯 浙江省赛</strong> <br> 
                    奖项：银奖 <br> 
                    获奖者：魏道、赵佳磊、孙梦思 <br>
                    指导老师：周静静
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award17.png" class="img-fluid award-image" alt="图森未来杯铜奖">
                <p class="text-center mt-2">
                    <strong>2023 图森未来杯 浙江省赛</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：王晨杰、黄文豪、汤亦奇 <br>
                    指导老师：陈婉莹
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award18.png" class="img-fluid award-image" alt="百度之星浙江赛区银奖">
                <p class="text-center mt-2">
                    <strong>2024 百度之星 浙江赛区</strong> <br> 
                    奖项：银奖 <br> 
                    获奖者：徐晓轩 <br>
                    指导老师：周静静
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award19.png" class="img-fluid award-image" alt="百度之星浙江赛区铜奖">
                <p class="text-center mt-2">
                    <strong>2024 百度之星 浙江赛区</strong> <br> 
                    奖项：铜奖 <br> 
                    获奖者：徐晓轩 <br>
                    指导老师：周静静
                </p>
            </div>
        </div>

        <hr class="my-5">

        <h3 class="text-center mb-4">其他类国奖</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/award20.png" class="img-fluid award-image" alt="算法精英大赛全国总决赛一等奖">
                <p class="text-center mt-2">
                    <strong>2023 算法精英大赛 全国总决赛</strong> <br> 
                    奖项：一等奖 <br> 
                    获奖者：刘晨鑫、赵烨翔、彭岁祥 <br>
                    指导老师：周静静
                </p>
            </div>
            <div class="col-md-4">
                <!-- <img src="../static/images/award20.png" class="img-fluid award-image" alt="华为杯数学建模竞赛二等奖"> -->
                <p class="text-center mt-2">
                    <strong>2022 华为杯 数学建模竞赛</strong> <br> 
                    奖项：二等奖 <br> 
                    获奖者：王哲韬 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <!-- <img src="../static/images/award20.png" class="img-fluid award-image" alt="华为杯数学建模竞赛二等奖"> -->
                <p class="text-center mt-2">
                    <strong>2020 华为杯 数学建模竞赛</strong> <br> 
                    奖项：二等奖 <br> 
                    获奖者：王哲韬 <br>
                    指导老师：朱旭东
                </p>
            </div>
        </div>

        <hr class="my-5">

        <h3 class="text-center mb-4">其他类省奖</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/award21.png" class="img-fluid award-image" alt="职业生涯规划大赛二等奖">
                <p class="text-center mt-2">
                    <strong>2021 职业生涯规划大赛</strong> <br> 
                    奖项：二等奖 <br> 
                    获奖者：马迁迁、姜璇璇、程澄、顾淳璇 <br>
                    指导老师：朱旭东、沈一品
                </p>
            </div>
            <div class="col-md-4">
                <!-- <img src="../static/images/award8.png" class="img-fluid award-image" alt="顺丰杯物流设计大赛一等奖"> -->
                <p class="text-center mt-2">
                    <strong>2021 Mathor-cup高校数学建模挑战赛</strong> <br> 
                    奖项：三等奖 <br> 
                    获奖者：王哲韬 <br>
                    指导老师：陈婉莹
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award22.png" class="img-fluid award-image" alt="顺丰杯物流设计大赛一等奖">
                <p class="text-center mt-2">
                    <strong>2022 顺丰杯 物流设计大赛</strong> <br> 
                    奖项：一等奖 <br> 
                    获奖者：舒洋、周林颖、黄文豪、魏道、李佳渝 <br>
                    指导老师：李培熙
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award23.png" class="img-fluid award-image" alt="2023年第5届全球校园人工智能算法精英大赛（浙江赛区） 二等奖">
                <p class="text-center mt-2">
                    <strong>2023 第5届全球校园人工智能算法精英大赛（浙江赛区）</strong> <br> 
                    奖项：二等奖 <br> 
                    获奖者：钟浩、施郑鹏 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award24.png" class="img-fluid award-image" alt="2023年第5届全球校园人工智能算法精英大赛（浙江赛区） 三等奖">
                <p class="text-center mt-2">
                    <strong>2023 第5届全球校园人工智能算法精英大赛（浙江赛区）</strong> <br> 
                    奖项：三等奖 <br> 
                    获奖者：朱一诺、陈彦恺、张黛依 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award25.png" class="img-fluid award-image" alt="2023年第5届全球校园人工智能算法精英大赛（浙江赛区） 一等奖">
                <p class="text-center mt-2">
                    <strong>2023 第5届全球校园人工智能算法精英大赛（浙江赛区）</strong> <br> 
                    奖项：一等奖 <br> 
                    获奖者：刘晨鑫、赵烨翔、彭岁祥 <br>
                    指导老师：朱旭东
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award26.png" class="img-fluid award-image" alt="2023年第5届全球校园人工智能算法精英大赛（浙江赛区） 二等奖">
                <p class="text-center mt-2">
                    <strong>2023 第5届全球校园人工智能算法精英大赛（浙江赛区）</strong> <br> 
                    奖项：二等奖 <br> 
                    获奖者：陈宣延、徐浩然、高正扬 <br>
                    指导老师：朱旭东
                </p>
            </div>
        </div>

        <div class="text-center mt-5">
            <a href="index.html" class="btn btn-primary">返回主页</a>
        </div>
    </div>

    <!-- 页脚 -->
    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>&copy; 2024 浙江工商大学 AI 智创学会. All Rights Reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
