<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awards & Honors - AI Innovation Society</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">

</head>

<body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">AI Innovation & Creation Society</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="people.html">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="resources.html">Resources</a></li>
                    <li class="nav-item"><a class="nav-link" href="events.html">Events & Competitions</a></li>
                    <li class="nav-item"><a class="nav-link active" href="awards.html">Awards & Honors</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- 主体内容 -->
    <div class="container mt-5 pt-5">
        <h2 class="text-center mb-4">Awards & Honors</h2>
        <p>Below are the awards and honors the AI Innovation Society has received in various competitions and activities:</p>

        <hr class="my-5">

        <h3 class="text-center mb-4">National Programming Awards</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/award1.png" class="img-fluid award-image" alt="ICPC南京站银奖">
                <p class="text-center mt-2">
                    <strong>2022 ICPC Nanjing Regional</strong> <br>
                    Award: Silver <br>
                    Winners: Huang Wei, Sun Haobang, Pan Qianjun <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award2.png" class="img-fluid award-image" alt="CCPC重庆站铜奖">
                <p class="text-center mt-2">
                    <strong>2022 CCPC Chongqing Regional</strong> <br>
                    Award: Bronze <br>
                    Winners: Hu Chenyu, Yuan Jia, Sun Mengsi <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award3.png" class="img-fluid award-image" alt="百度之星铜奖">
                <p class="text-center mt-2">
                    <strong>2023 Baidu Star Competition</strong> <br>
                    Award: Bronze <br>
                    Winner: Jiang Jinwen <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award4.png" class="img-fluid award-image" alt="CCPC重庆站银奖">
                <p class="text-center mt-2">
                    <strong>2023 9th CCPC Chongqing Regional</strong> <br>
                    Award: Silver <br>
                    Winners: Hu Chenyu, Yuan Jia, Sun Mengsi <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award5.png" class="img-fluid award-image" alt="天梯赛个人铜奖">
                <p class="text-center mt-2">
                    <strong>2023 Tianchi Competition National Finals</strong> <br>
                    Award: Bronze <br>
                    Winner: Huang Wenhao <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award6.png" class="img-fluid award-image" alt="天梯赛个人铜奖">
                <p class="text-center mt-2">
                    <strong>2023 Tianchi Competition National Finals</strong> <br>
                    Award: Bronze <br>
                    Winner: Wei Dao <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award7.png" class="img-fluid award-image" alt="天梯赛个人铜奖">
                <p class="text-center mt-2">
                    <strong>2023 天梯赛 国赛</strong> <br> 
                    奖项：铜奖 <br> 
                    <p class="text-center mt-2">
                        <strong>2023 Tianchi Competition National Finals</strong> <br>
                        Award: Bronze <br>
                        Winner: Jiang Jinwen <br>
                        Advisor: Zhu Xudong
                    </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award8.png" class="img-fluid award-image" alt="蓝桥杯个人铜奖">
                <p class="text-center mt-2">
                    <strong>2023 Lanqiao Cup National Finals</strong> <br>
                    Award: Bronze <br>
                    Winner: Xu Chenlong <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award9.png" class="img-fluid award-image" alt="蓝桥杯个人银奖">
                <p class="text-center mt-2">
                    <strong>2023 Lanqiao Cup National Finals</strong> <br>
                    Award: Silver <br>
                    Winner: He Yang <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award10.png" class="img-fluid award-image" alt="蓝桥杯个人银奖">
                <p class="text-center mt-2">
                    <strong>2023 Lanqiao Cup National Finals</strong> <br>
                    Award: Silver <br>
                    Winner: Jiang Jinwen <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award11.png" class="img-fluid award-image" alt="蓝桥杯个人银奖">
                <p class="text-center mt-2">
                    <strong>2023 Lanqiao Cup National Finals</strong> <br>
                    Award: Silver <br>
                    Winner: Zhang Shengyang <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
        </div>

        <hr class="my-5">

        <h3 class="text-center mb-4">Provincial Programming Awards</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/award12.png" class="img-fluid award-image" alt="百度之星浙江赛区铜奖">
                <p class="text-center mt-2">
                    <strong>2022 Baidu Star Zhejiang Regional</strong> <br>
                    Award: Silver <br>
                    Winner: Wei Dao <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award13.png" class="img-fluid award-image" alt="百度之星浙江赛区银奖">
                <p class="text-center mt-2">
                    <strong>2022 Baidu Star Zhejiang Regional</strong> <br>
                    Award: Silver <br>
                    Winner: Jiang Jinwen <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award14.png" class="img-fluid award-image" alt="图森未来杯铜奖">
                <p class="text-center mt-2">
                    <strong>2022 Tusimple Cup Zhejiang Provincial</strong> <br>
                    Award: Bronze <br>
                    Winners: Huang Wei, Sun Haobang, Pan Qianjun <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award15.png" class="img-fluid award-image" alt="图森未来杯铜奖">
                <p class="text-center mt-2">
                    <strong>2022 Tusimple Cup Zhejiang Provincial</strong> <br>
                    Award: Bronze <br>
                    Winners: Huang Wenhao, Wang Chenjie, Wei Dao <br>
                    Advisor: Zhou Jingjing
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award16.png" class="img-fluid award-image" alt="图森未来杯银奖">
                <p class="text-center mt-2">
                    <strong>2023 Tusimple Cup Zhejiang Provincial</strong> <br>
                    Award: Silver <br>
                    Winners: Wei Dao, Zhao Jialei, Sun Mengsi <br>
                    Advisor: Zhou Jingjing
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award17.png" class="img-fluid award-image" alt="图森未来杯铜奖">
                <p class="text-center mt-2">
                    <strong>2023 Tusimple Cup Zhejiang Provincial</strong> <br>
                    Award: Bronze <br>
                    Winners: Wang Chenjie, Huang Wenhao, Tang Yiqi <br>
                    Advisor: Chen Wanying
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award18.png" class="img-fluid award-image" alt="百度之星浙江赛区银奖">
                <p class="text-center mt-2">
                    <strong>2024 Baidu Star Zhejiang Regional</strong> <br>
                    Award: Silver <br>
                    Winner: Xu Xiaoxuan <br>
                    Advisor: Zhou Jingjing
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award19.png" class="img-fluid award-image" alt="百度之星浙江赛区铜奖">
                <p class="text-center mt-2">
                    <strong>2024 Baidu Star Zhejiang Regional</strong> <br>
                    Award: Bronze <br>
                    Winner: Xu Xiaoxuan <br>
                    Advisor: Zhou Jingjing
                </p>
            </div>
        </div>

        <hr class="my-5">

        <h3 class="text-center mb-4">Other National Awards</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/award20.png" class="img-fluid award-image" alt="算法精英大赛全国总决赛一等奖">
                <p class="text-center mt-2">
                    <strong>2023 Algorithm Elite Competition National Finals</strong> <br>
                    Award: First Prize <br>
                    Winners: Liu Chenxin, Zhao Yexiang, Peng Suixiang <br>
                    Advisor: Zhou Jingjing
                </p>
            </div>
            <div class="col-md-4">
                <!-- <img src="../static/images/award20.png" class="img-fluid award-image" alt="华为杯数学建模竞赛二等奖"> -->
                <p class="text-center mt-2">
                    <strong>2022 Huawei Cup Mathematical Modeling Competition</strong> <br>
                    Award: Second Prize <br>
                    Winner: Wang Zhetao <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <!-- <img src="../static/images/award20.png" class="img-fluid award-image" alt="华为杯数学建模竞赛二等奖"> -->
                <p class="text-center mt-2">
                    <strong>2020 Huawei Cup Mathematical Modeling Competition</strong> <br>
                    Award: Second Prize <br>
                    Winner: Wang Zhetao <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
        </div>

        <hr class="my-5">

        <h3 class="text-center mb-4">Other Provincial Awards</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="../static/images/award21.png" class="img-fluid award-image" alt="职业生涯规划大赛二等奖">
                <p class="text-center mt-2">
                    <strong>2021 Career Planning Competition</strong> <br> 
                    Award: Second Prize <br> 
                    Winners: Ma Qianqian, Jiang Xuanxuan, Cheng Cheng, Gu Chunxuan <br>
                    Advisors: Zhu Xudong, Shen Yipin
                </p>
            </div>
            <div class="col-md-4">
                <!-- <img src="../static/images/award8.png" class="img-fluid award-image" alt="顺丰杯物流设计大赛一等奖"> -->
                <p class="text-center mt-2">
                    <strong>2021 Mathor-cup Mathematical Modeling Challenge</strong> <br> 
                    Award: Third Prize <br> 
                    Winner: Wang Zhetao <br>
                    Advisor: Chen Wanying
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award22.png" class="img-fluid award-image" alt="顺丰杯物流设计大赛一等奖">
                <p class="text-center mt-2">
                    <strong>2022 SF Express Logistics Design Competition</strong> <br> 
                    Award: First Prize <br> 
                    Winners: Shu Yang, Zhou Linying, Huang Wenhao, Wei Dao, Li Jiayu <br>
                    Advisor: Li Peixi
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award23.png" class="img-fluid award-image" alt="2023年第5届全球校园人工智能算法精英大赛（浙江赛区） 二等奖">
                <p class="text-center mt-2">
                    <strong>2023 5th AI Algorithm Elite Competition (Zhejiang)</strong> <br> 
                    Award: Second Prize <br> 
                    Winners: Zhong Hao, Shi Zhengpeng <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award24.png" class="img-fluid award-image" alt="2023年第5届全球校园人工智能算法精英大赛（浙江赛区） 三等奖">
                <p class="text-center mt-2">
                    <strong>2023 5th AI Algorithm Elite Competition (Zhejiang)</strong> <br> 
                    Award: Third Prize <br> 
                    Winners: Zhu Yinuo, Chen Yankai, Zhang Daiyi <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award25.png" class="img-fluid award-image" alt="2023年第5届全球校园人工智能算法精英大赛（浙江赛区） 一等奖">
                <p class="text-center mt-2">
                    <strong>2023 5th AI Algorithm Elite Competition (Zhejiang)</strong> <br> 
                    Award: First Prize <br> 
                    Winners: Liu Chenxin, Zhao Yexiang, Peng Suixiang <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
            <div class="col-md-4">
                <img src="../static/images/award26.png" class="img-fluid award-image" alt="2023年第5届全球校园人工智能算法精英大赛（浙江赛区） 二等奖">
                <p class="text-center mt-2">
                    <strong>2023 5th AI Algorithm Elite Competition (Zhejiang)</strong> <br> 
                    Award: Second Prize <br> 
                    Winners: Chen Xuanyan, Xu Haoran, Gao Zhengyang <br>
                    Advisor: Zhu Xudong
                </p>
            </div>
        </div>

        <div class="text-center mt-5">
            <a href="index.html" class="btn btn-primary">Back to Home</a>
        </div>
    </div>

    <!-- 页脚 -->
    <footer class="bg-dark text-white text-center py-3 mt-5">
        <p>Contact us: <a href="mailto:zjsuaaclub@163.com" class="text-white">zjsuaaclub@163.com</a></p>
        <p>&copy; 2024 Zhejiang Gongshang University AI Innovation Society. All Rights Reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
